network:
  version: 2
  ethernets:
{% for nic in _current_vm.networks %}
{% set nic_name = "net" ~ loop.index0 %}
    {{ nic_name }}:
      match:
        macaddress: "{{ _vm_macs[loop.index0] }}"
      set-name: "{{ nic_name }}"
{% if nic.ip is defined %}
      addresses:
        - {{ nic.ip }}/{{ nic.prefix | default(24) }}
{% if nic.gateway is defined %}
      routes:
        - to: 0.0.0.0/0
          via: {{ nic.gateway }}
{% endif %}
{% if nic.dns_server is defined %}
{% set _search = nic.dns_search | default(
     ([ cluster_name ~ "." ~ dns_domain ] if cluster_name | default("") | length > 0 else []) + [ dns_domain ]
   ) %}
      nameservers:
        addresses:
          - {{ nic.dns_server }}
        search:
{% for domain in _search %}
          - {{ domain }}
{% endfor %}
{% endif %}
{% else %}
      dhcp4: true
{% endif %}
{% endfor %}
