apiVersion: mirror.openshift.io/v2alpha1
kind: ImageSetConfiguration
mirror:
  platform:
    channels:
      - name: {{ ocp_version }}
    architectures:
      - amd64
{% if ocp_operators | length > 0 %}

  operators:
{% for operator in ocp_operators %}
    - catalog: {{ operator.catalog }}
{% if operator.packages | length > 0 %}
      packages:
{% for pkg in operator.packages %}
        - name: {{ pkg }}
{% endfor %}
{% else %}
      packages: []
{% endif %}
{% endfor %}
{% endif %}
{% if ocp_additional_images | length > 0 %}

  additionalImages:
{% for image in ocp_additional_images %}
    - name: {{ image }}
{% endfor %}
{% endif %}
