global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    timeout connect 10s
    timeout client  60s
    timeout server  60s

listen stats
    bind *:9000
    mode http
    stats enable
    stats uri /
    stats refresh 10s

frontend api
    bind *:6443
    mode tcp
    option tcplog
    default_backend api-backends

backend api-backends
    mode tcp
    balance roundrobin
    option ssl-hello-chk
    server bootstrap 192.168.127.10:6443 check
    server master-0  192.168.127.11:6443 check
    server master-1  192.168.127.12:6443 check
    server master-2  192.168.127.13:6443 check

frontend machine-config
    bind *:22623
    mode tcp
    option tcplog
    default_backend machine-config-backends

backend machine-config-backends
    mode tcp
    balance roundrobin
    server bootstrap 192.168.127.10:22623 check
    server master-0  192.168.127.11:22623 check
    server master-1  192.168.127.12:22623 check
    server master-2  192.168.127.13:22623 check

frontend ingress-https
    bind *:443
    mode tcp
    option tcplog
    default_backend ingress-https-backends

backend ingress-https-backends
    mode tcp
    balance roundrobin
    server master-0 192.168.127.11:443 check
    server master-1 192.168.127.12:443 check
    server master-2 192.168.127.13:443 check

frontend ingress-http
    bind *:80
    mode tcp
    option tcplog
    default_backend ingress-http-backends

backend ingress-http-backends
    mode tcp
    balance roundrobin
    server master-0 192.168.127.11:80 check
    server master-1 192.168.127.12:80 check
    server master-2 192.168.127.13:80 check
